:root{
    font-size: calc( var( --fontModifier ) * var(--bs-body-font-size) );
    @media screen and (min-width : 1920px) {
        font-size:calc( var( --fontModifier ) * 0.835vw);
    }
}
body{
    font-family: $font-family;
    font-weight: normal;
    // @include dark-mode-property(background-color , $secondary , map-get($dark-theme , 'bg-secondry') );
}
