/*** RTL Websites ***/
$direction: rtl;
$opposite-direction: ltr;

$start: right;
$end: left;

$title-font-family: 'Cairo';
$font-family: 'Cairo';

$transform-direction: -1;
$font-path:'@/assets/fonts/Cairo';
[dir="rtl"]:root{
  --font-family:'Cairo';
  --title-font-family:'Cairo';
}
$title-font-family: 'Tahoma';
$font-family: 'Tahoma';

$transform-direction: -1;
$font-path:'@/assets/fonts/Tahoma';
[dir="rtl"]:root{
  --font-family:'Tahoma';
  --title-font-family:'Tahoma';
}
