/*** RTL Websites ***/
$direction: rtl;
$opposite-direction: ltr;

$start: right;
$end: left;

$title-font-family: 'Cairo';
$font-family: 'Cairo';

$transform-direction: -1;
$font-path:'@/assets/fonts/Cairo';
:root{
  --font-family:'Cairo';
  --title-font-family:'Cairo';
}
:root.rtl{
  --font-family:'Cairo';
  --title-font-family:'Cairo';
}
