/*** RTL Websites ***/
$direction: rtl;
$opposite-direction: ltr;

$start: right;
$end: left;

$title-font-family: 'Cairo';
$font-family: 'Cairo';

$transform-direction: -1;
$font-path:'@/assets/fonts/Cairo';
