.home-sec{
    &.home-sec--about-us{
        .home-sec--about-us__title-wrapper{
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50% , -50%);
            // animation: ;
            // transform: scale(30);
            // transform-origin: 10px 10px;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            // .home-sec__title:first-child{
            //     transform: scale(50);
            //     transform-origin: 40px 115px;
            //     z-index: 1;
            // }
            @keyframes highlightAboutUs {
                0%{
                    width:100%;
                }
                25% {
                    width:0%;
                }
                50% {
                    width:100%;
                }
                100% {
                    width:100%;
                }
            }
            @keyframes highlightAboutUs2 {
                0%{
                    width:100%;
                }
                25% {
                    width:0%;
                }
                100% {
                    width:100%;
                }

            }
            .text-highlighter-wrapper.text-highlighter-wrapper--first{
                .text-highlighter__highlighted {
                    animation-name: highlightAboutUs;
                    animation-duration: 3s;
                    animation-fill-mode: both;
                    animation-timing-function: ease;
                }
            }
            .text-highlighter-wrapper.text-highlighter-wrapper--second{
                .text-highlighter__highlighted {
                    animation-name: highlightAboutUs2;
                    animation-duration: 3s;
                    animation-fill-mode: both;
                    animation-timing-function: ease;

                }
            }
    
        }
        

        .home-sec--about-us__content{
            // @include font-size(/* xlarge: */ 26px, /*[desktop]:*/24px , /*[tablet]:*/20px , /*[mobile]:*/18px  );
            @include define-responsive-property(font-size , 1.9rem, 1.3rem , 1rem , 1rem);
            line-height: initial;
            font-weight: bold;
            text-align: justify;
        }
        .home-sec__container{
            gap: 1rem;
        }
    }
    

}

@keyframes zoom-out{
    from {
        // transition: transform 1s ease;
    }
    to {
        transform: scale(1);
    }
}
.animate__zoom-out{
    animation-name: zoom-out;
}

@keyframes zoom-in{
    from {
        transform: scale(1);
        // transition: transform 1s ease;
    }
    to {
        transform: scale(50);
    }
}
.animate__zoom-in{
    animation-name: zoom-in;
}

@keyframes move-up{
    from {
        
    }
    to {
        transform: translateY(var(--y));
    }
}

.animate__move-up{
    animation-name: move-up;
}

.animate__move-y{
    transform: translateY(var(--y));
    transition: transform 1s ease;
    transition-delay: 1s;
}




  
