@keyframes mid {
  to {
    margin-left: 100%;
    width: 300%;
  }
}
@keyframes last {
  to {
    margin-left: 100%;
    width: 300%;
  }
}

.home-sec {
  &.home-sec--banner {
    font-family: $title-font-family;
    padding-top: 25px;
    padding-bottom: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url("@/assets/image/banner-1.png"),url("@/assets/image/banner.png")  ;
    background-repeat: no-repeat;
    background-size: cover , cover;
    background-position: center center , 0 100vh;
    transition: background-position 1s ease;
    &.swipe-bg{
      background-position: 0 100vh , 0 center;
    }
    .logo {
      // transform: translateY(-100%);
      min-width: 100px;
      display: inline-block;
      width: 11.68vw;
    }
    .home-sec--banner__slogan-group , .home-sec--banner__img-group-wrapper {
      position: absolute;
      inset: 0;
      // display: flex;
      // justify-content:flex-end ;
      height: 100%;
      max-height: 37vw;
      margin: auto;
      max-width: calc(100% - 12.5rem);
      // align-items: center;
      // overflow: hidden;
    }
    .home-sec--banner__img-group-wrapper{

      .home-sec--banner__img-group {
      position: relative;
      height: inherit;
      width: inherit;
        > img {
          height: auto;
          width: 21%;
          position: absolute;
          right: 0;
        }
      }
    }
    .home-sec__title{
      font-family: $title-font-family;
    }
    .home-sec__content{
      position: relative;
    }

    .home-sec--banner__slogan {
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: white;
      @include font-size(85px , 75px , 50px , 50px);
      @media screen and (min-width : 1920px) {
        font-size: 5.3125rem;
      }
      * {
        line-height: 0.85;
      }
      &.home-sec--banner__slogan--sec {
        top: 0;
        bottom: initial;
        .title {
          display: flex;
          flex-direction: column;
          line-height: 0.75;
          > span:nth-child(2) {
            color: $primary-light;
            margin-left: 1.33em;
          }
        }
      }
      &.home-sec--banner__slogan--ternary {
        justify-content: flex-start;
        .title {
          display: flex;
          flex-direction: column;
          line-height: 0.75;
          > span:nth-child(2) {
            > span {
              color: $secondary;
            }
          }
        }
      }
      .title {
        @include font-size(228px , 180px , 140px , 150px);
        &.title--bigger{
          @include font-size(1.05 * 228px ,1.05 * 180px , 1.05 * 140px , 1.05 * 150px);
        }
        @media screen and (min-width : 1920px) {
          font-size: 16.25rem;;
          &.title--bigger{
            font-size: 18.25rem;;
          }
        }

      }
      .wavy {
        position: relative;
        display: inline-block;
        h2 {
          font-size: inherit;
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
          line-height: 0.92;
        }
        h2:nth-child(1) {
          position: static;
          color: $primary;
        }
        h2:nth-child(2) {
          color: $primary-light;
          animation: wave-high 5s ease-in-out infinite;
        }
        h2:nth-child(3) {
          color: $secondary;
          animation: wave-mid 5s ease-in-out infinite;
        }
        h2:nth-child(4) {
          color: inherit;
          animation: wave-low 5s ease-in-out infinite;
        }
      }
    }
    @media screen and (max-width : 1024px) {
      background: $primary  ;
        .home-sec--banner__img-group-wrapper {
          width: 100%;
          max-height: initial;
          /* object-fit: cover; */
          height: 100%;
          max-width: initial;
           .home-sec--banner__img-group{
              > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 60% center;
             }
           }
      }
    }
  }
}

@keyframes wave-low {
  0%,
  100% {
    // clip-path: polygon(0% 65%, 15% 64%, 32% 70%, 54% 80%, 70% 81%, 84% 79%, 100% 72%, 100% 100%, 0% 100%);
    clip-path: polygon(
      0% 55%,
      15% 54%,
      32% 60%,
      54% 70%,
      70% 71%,
      84% 69%,
      100% 62%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    // clip-path: polygon(0 80%, 16% 85%, 34% 86%, 51% 82%, 67% 70%, 84% 65%, 100% 60%, 100% 100%, 0% 100%);
    clip-path: polygon(
      0 70%,
      16% 75%,
      34% 76%,
      51% 72%,
      67% 60%,
      84% 55%,
      100% 50%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes wave-mid {
  0%,
  100% {
    clip-path: polygon(
      0 50%,
      16% 55%,
      34% 56%,
      51% 52%,
      67% 40%,
      84% 35%,
      100% 30%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 35%,
      15% 34%,
      32% 40%,
      54% 50%,
      70% 51%,
      84% 49%,
      100% 42%,
      100% 100%,
      0% 100%
    );
  }
}
@keyframes wave-high {
  0%,
  100% {
    clip-path: polygon(
      0% 25%,
      15% 24%,
      32% 30%,
      54% 40%,
      70% 41%,
      84% 39%,
      100% 32%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 40%,
      16% 45%,
      34% 46%,
      51% 42%,
      67% 30%,
      84% 25%,
      100% 20%,
      100% 100%,
      0% 100%
    );
  }
}

