@mixin btn-effects($effectColor , $effectColorBg  ) {
    &:hover , &:focus{
        color:$effectColor;
        background-color: $effectColorBg;
        box-shadow: none;
    }
}
@mixin btn-dark-effects($effectColor , $effectColorBg  ) {
    &:hover , &:focus{
        @include dark-mode-property(color , $effectColor);
        @include dark-mode-property(background-color ,  $effectColorBg);
    }
}
.btn-primary {
    --bs-btn-bg: #{$primary};
    --bs-btn-border-color: #{$primary};
    --bs-btn-hover-bg: #{$primary};
    --bs-btn-hover-border-color: #{$primary};
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #{$primary};
    --bs-btn-active-border-color:  #{$primary};
    --bs-btn-disabled-bg: #{$primary};
    --bs-btn-disabled-border-color: #{$primary};
}