.client-slider{
    .swiper{
        background-color: $light;
    }
    .swiper-slide{
        background-color: white;
        width: 20.271vw;
        aspect-ratio: 1;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        display: flex;
        align-items: center;
        padding: 12px;
        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
}