.clients {
    background-color: #042F3A;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-sec{
    &.home-sec--clients{
        @media screen and (max-width : 1024px) and (min-width:768px) {
            padding-bottom: 3.5rem;
        }
        .zoom-title{
            --scale:100;
            --origin:30px 100px;

        }
        .zoom-out-title{
            .home-sec--clients__title-wrapper{
                .home-sec__title{
                    --scale: 1;
                }
            }
        }
        .zoom-in-title{
            .home-sec--clients__title-wrapper{
                .home-sec__title{
                    --scale: 150;
                }         
            }
        }
        .home-sec--clients__title-wrapper{
            width: fit-content;
            margin: auto;
        }
    }
}
