.contact-us{
    font-size: 96px;
    font-weight: bold;
    p{
        color: $light;
        font-family: $font-family;
        line-height: 1;
        letter-spacing: 5px;
        margin: 0;
        span{
            color: $secondary;
        }
        
    }
    form{
        .contact-info{
            &>div{
                position: relative;
                height: 66px;
                width: 100%;
                border-bottom: 1px solid $light;
                margin-bottom: 20px;
            }
            input{
                position: absolute;
                left: 0;
                top: 0;
                background-color: transparent;
                border: none ;
                outline: none;
                font-size: 25px;
                width: 100%;
                color: $light;
            &::placeholder{
                color:$light;
                font-size: 22px;
                font-family: $font-family;
            }
            }
        }
 

    }
}
@media screen and (max-width: 622px) {
    .contact-us{
        font-size: 60px;
        p{
            line-height: 1;
        }
    }
  }


    .branch-details{
        h1{
            font-family: $title-font-family;
            color: $light;
            font-weight: 400;
            font-size: 96px;
            line-height: 80,16px;
            span{
                color: $secondary;
            }

        }
        p{
            font-family: $font-family;
            color: $light;
            text-transform: capitalize;
            font-size: 32px;
            font-weight: 600;
            line-height: 40,96px;
        }
    }

    .email-details{
        @extend .branch-details;
        p{
            text-transform: none;
        }        

    }
      .ring-details{
          @extend .branch-details
      }
