.contact-us-form-section{
    .contact-us-form-section__title{
        font-size: 63px;
        font-weight: bold;
        color: $light;
        font-family: $font-family;
        line-height: 1;
        margin: 0;
        height: auto;
        *{
            height: auto;
        }
        @media screen and (max-width: 576px) {
                font-size: 50px;
                line-height: 50px;
                letter-spacing: 4px;
            }
        @media screen and (max-width: 1200px) {
                font-size: 50px;

            }
        }
}