// todo replace media with better responsive approach
.branch-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contact-us-branch-section__title{
        font-family: var(--title-font-family);
        color: $light;
        font-weight: 400;
        font-size: 96px;
        line-height: 80,16px;
        height: auto;
        @media screen and (min-width:2500px) {
            font-size: 160px;
            }
            @media screen and (max-width:1024px){
                font-size: 8vw;
            }
        @media screen and (max-width:767px) {
            // font-size: 40px;
            font-size: 50px;
        }
    }
    .contact-us-branch-section__desc{
        font-family: var(--font-family);
        color: $light;
        font-size: 32px;
        font-weight: 600;
        line-height: 40,96px;
        height: auto;
        @media screen and (min-width:2500px) {
            font-size: 60px;
        }
        @media screen and (max-width:1024px){
            font-size: 2.8vw;
        }
        @media screen and (max-width:767px) {
            font-size: 18px;
        }
    }
      
}

