.contact-us-form-section{
    .contact-us-form-section__title{
        font-weight: bold;
        color: $light;
        font-family: $font-family;
        line-height: 1;
        margin: 0;
        height: auto;
        font-size: 3.6rem;
        *{
            height: auto;
        }
// todo replace media with dynamic varaible 
         @media screen and (min-width:1440px) {
                font-size: 5rem;
            }
         @media screen and (min-width:1026px) {
                font-size: 2.8rem;
            }
         @media screen and (min-width:1920px) {
                font-size: 4rem;
            }
         @media screen and (min-width:2500px) {
                font-size: 6rem;
            }

        }
}