
// todo replace media better aproach 
@mixin input {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  border: none ;
  outline: none;
  font-size: 22px;
  width: 100%;
  color: $light;
  border-bottom: 1px solid $light;

    @media screen and (min-width:2500px) {
        font-size: 1.5rem;
      }
    @media screen and (max-width:767px) {
        font-size: 18px;
      }
  
}
@mixin placeholder{
    color:$light;
    font-size:1.5vw;
    font-family: $font-family;
    @media screen and (max-width:767px) {
    font-size: 18px;   
  }
}
.contact-us-form-container{
  .lds {
    height: 100vh;
    *{
      height:auto;
    }
  }
}
.contact-us-form{
  .contact-us-form__info{
      &> .contact-us-form__field-group{
          position: relative;
          // height: 65px;
          width: 100%;
          // margin-top: 25px;
          height: 3.6rem;
          margin-top: 1.8rem;
          @media screen and (max-width:767px) {
            margin-top: 1rem; 
            }
          input{
          @include input();
          
            &::placeholder{
                @include placeholder();
        }
      }
      @media screen and (min-width:2000px) {
          height: 125px;
          margin-top: 40px;
        }
        }

        .input-errors {
          color: red;
          // font-size: 1.2rem ;
          @include define-responsive-property(font-size ,1rem , 0.875rem , 0.875rem , 0.875rem);
          position: absolute;
          // bottom: -45%;
          // height: 30px;
          bottom: -1.6rem;
          height: 1.5rem;
          // @media screen and (max-width:767px) {
          //   font-size: 14px ;
          // }
          // @media screen and (min-width:2000px) {
          //   font-size: 1.3rem ;     
          //   top: 125px;
          //   }

            }    
        }
      }
     
      .contact-us-form__field-area{
    @extend .contact-us-form__field-group;
    textarea{
      @include input();
      resize: none;
      &::placeholder{
          @include placeholder();
      }
      @media screen and (max-width:767px) {
        height: 45px;
      }
    }
    }
    .contact-us-form__submit{
      height: 40px;
      width: 45px;
      margin: 0 5px;
      overflow: hidden;
      background-color: transparent;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      transition:  0.3s ease-out;
    .submit-button{
      position: absolute;
      right: 0;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
    .title-submit{
      position: absolute;
      top: 50%;
      transform: translateY(-50%); 
      left: -93px;
      transition:  0.3s  ease-out;
      font-family: $font-family;
      @media screen and (max-width:767px) {
        font-size: 18px;
      } 

    }

    .submit-button {
      padding: 10px;
      img{
        transition:  0.3s  ease-out;
        @media screen and (max-width:767px) {
          width: 75%;
        }    
            }
            @media screen and (max-width:767px) {
              padding: 8px;
            }
    }
    &:hover{
      width: 160px;
      background-color: $text;
    }

    &:hover .submit-button img{
      transform: rotate(-25deg);
    }

    &:hover .title-submit{
      left: 20px;
    }
    @media screen and (min-width:2500px) {
      &:hover{
        width: 200px;
        background-color: $text;
      }
  }
      }
      