.contact-us-info{
    &.contact-us-info--contacts{
        .contact-us-info__img{
            .contacts-img{
                background-position: 0 center;
                animation: moveToLeft 1s ease;
                animation-delay: 1s;
                background-size: 146%;
                animation-fill-mode: both;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                @keyframes moveToLeft {
              
                     to{
                        background-position: 100% center;
                    }
                }
                @media screen and (max-width:1024px) {
                    aspect-ratio: 0.8;
                }
                @media screen and (max-width:767px) {
                       aspect-ratio: 1;
                }
                }
            }
        }
    }


