.services-content{
    h1{
        font-family: var(--title-font-family);
        font-weight: 400;
        font-size: 96px;
        color: $secondary;
    }
    p{
        font-family: var(--font-family);
        font-size: 20px;
        text-transform: capitalize;
        line-height: 30px;

    }
}