.img-text-sec{
    .img-text-sec__img{
        text-align: center;
        .img{
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 150%;
            background-position: center;
            animation-timing-function: ease-in-out;
            animation-name: img-section-zoom-out;
            animation-delay: 1s;
            @keyframes img-section-zoom-out {
                from{
                    background-size: 150%;
                }
                to{
                    background-size: 100%;
                }
            }
            @media screen and (max-width : 1024px) {
                width: 100%;
            }
        }
    }
    .img-text-sec__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .img-text-sec__content__title{
            font-family: $title-font-family;
            font-weight: bold;
            @include define-responsive-property(font-size , 7rem , 6rem , 6rem , 6rem);
            @media screen and (max-width: 1536px ) and (min-width: 1366px) {
                font-size: 6rem;
            }
            color: $secondary;
            height: auto;
            position: relative;
            flex-grow: 1;
            animation-name: translate-title;
            animation-timing-function: ease-in-out;
            display: flex;
            align-items: center;
            line-height: 1;
            > * {
                // position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                height: auto;
                line-height: 0.85;
                margin: 0;
            }
            * {
                color: inherit;
                font-size: inherit;
            }
            @media screen and (max-width: 767px) {
                padding-top: 30px;
                font-size: 50px;
            }
        }
        .img-text-sec__content__desc{
            font-family: $font-family;
            @include define-responsive-property(font-size , 1.5rem , 1.18rem , 1.5rem , 1rem );
            @media screen and ( min-width: 1440px) and ( min-height : 800px) {
                font-size: 1.7rem;
            }
            @media screen and (max-width: 900px){
                font-size: 1.16rem;
            }
            line-height: initial;
            animation-name: translate-desc;
            animation-timing-function: ease-in-out;
            height: initial;
            flex-basis: 0%;
            overflow: hidden;
            margin: 0;
            text-align: justify;
        }
    }
}

@keyframes translate-title{
    to {
        flex-grow: 0;
    }
}

@keyframes translate-desc{
    from{
        opacity: 0;
    }
    to {
        flex-grow: 1;
        flex-basis: 100%;
        opacity: 1;
    }

}

@keyframes img-scale{
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}