.navigators-btns{
    z-index: 10;
    font-size: 1rem;
    pointer-events: none;
    .social-links{
        pointer-events: auto;
    }
    .navigators-btns__up{
        width:2.8em;
        height: 2.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 3px 4px rgba($color: $primary-light, $alpha: 0.5);
        pointer-events: auto;
        font-weight: bold;
    }
    .navigators-btns__down{
        width:2.8em;
        height: 2.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 3px 4px rgba($color: $primary-light, $alpha: 0.5);
        pointer-events: auto;
        font-weight: bold;
    }
    &.control-navs{
        left: 0;
        width: auto;
        top: 50%;
        transform: translateY(-50%);
        .control-navs__btns{
            position: relative;
            height: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .control-navs__btns__indicators{
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
            }
        }

    }
}