.our-services {
  .logo {
    min-width: 100px;
    display: inline-block;
    width: 11.68vw;
  }
  .switch-style {
    color: $light;
  }
  .our-services__banner-btn {
    .btn {
      font-size: 1.3rem;
      @media screen and (max-width: 767px) {
        font-size: 1.1rem;
      }
    }
  }
  .our-services__title-and-subtitle {
    .subtitle {
      font-weight: 200;
      color: $light;
    }
  }
  .our-services__content-title {
    font-family: var(--title-font-family);
    font-weight: 400;
    color: $light;
  }
  .our-services__desc {
    & > * {
      color: $light;
      font-weight: 400;
      font-size: 1rem;
    }
  }
  .our-services__form {
    padding: 20px;
    border: 1px solid $light;
    border-radius: 20px;
  }

  .filed-style {
    .v-field__overlay {
      background-color: transparent !important;
    }
    .v-counter {
      color: $light;
    }
    .v-label.v-field-label {
      color: $light;
    }
    .v-messages__message {
      color: $light;
      font-weight: 400 !important;
      font-size: 0.75rem !important;
    }
    max-height: 77px;
    color: $light;
    font-weight: 200;
  }

  .our-services__submit {
    height: 40px;
    overflow: hidden;
    width: 40px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    caret-color: $light !important;
    color: $light !important;
    cursor: pointer;
    transition: 0.3s ease-out;
    min-width: 0px;
    .submit-button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 100%;
      border-radius: 50%;
    }
    .title-submit {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: -200px;
      transition: 0.3s ease-in-out;
      transition-delay: 0.1s;
      font-family: var(--font-family);
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }

    .submit-button {
      padding: 10px;
      img {
        transition: 0.3s ease-out;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:hover {
      width: 13rem;
      background-color: $text;
      padding: auto;
    }

    &:hover .submit-button img {
      transform: translate(-50%, -50%) rotate(-25deg);
    }

    &:hover .title-submit {
      left: 45%;
    }
    @media screen and (min-width: 2500px) {
      &:hover {
        width: 12rem;
        background-color: $text;
      }
    }
  }
  .link__whatsapp {
    width: fit-content;
    .v-btn {
      overflow: hidden;
      position: relative;
      background-color: #347474;
      transition: 0.5s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        left: 0%;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: $primary-light;
        clip-path: circle(0% at 50% 100%);
        transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        z-index: -1;
      }
      &:hover {
        transform: scale(1.02);
      }
      &:hover::before {
        clip-path: circle(100% at 50% 50%);
      }
    }
  }

.whatsapp-img {
  position: fixed;
  bottom: 20px;
  z-index: 15;
  right: 20px;
  [dir="rtl"] & {
    left: 20px;
    right: auto;
  }

  img {
    @include define-responsive-property(width, 65px, 60px, 55px, 50px);
  }
}
}
