.our-services {
  .logo {
    min-width: 100px;
    display: inline-block;
    width: 11.68vw;
  }
  .switch-style {
    color: $light;
  }
  .our-services__banner-btn {
    .btn {
      font-size: 1.3rem;
      @media screen and (max-width: 767px) {
        font-size: 1.1rem;
      }
    }
  }
  .our-services__title-and-subtitle {
    .subtitle {
      font-weight: 200;
      color: $light;
    }
  }
  .our-services__content-title {
    font-family: var(--title-font-family);
    font-weight: 400;
    color: $light;
  }
  .our-services__desc {
    & > * {
      color: $light;
      font-weight: 400;
      font-size: 1rem;
    }
  }
  .our-services__form {
    padding: 20px;
    border: 1px solid $light;
    border-radius: 20px;
  }

  .filed-style {
    .v-field__overlay {
      background-color: transparent !important;
    }
    .v-counter {
      color: $light;
    }
    .v-label.v-field-label {
      color: $light;
    }
    .v-messages__message {
      color: $light;
      font-weight: 400 !important;
      font-size: 0.75rem !important;
    }
    max-height: 77px;
    color: $light;
    font-weight: 200;
  }

 
  .link__whatsapp {
    width: fit-content;
    .v-btn {
      overflow: hidden;
      position: relative;
      background-color: #198754;
      transition: 0.5s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        left: 0%;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #1b593c;
        clip-path: circle(0% at 50% 100%);
        transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        z-index: -1;
      }
      &:hover {
        transform: scale(1.02);
      }
      &:hover::before {
        clip-path: circle(100% at 50% 50%);
      }
    }
  }
.services__description{
   [dir="ltr"] & {
    text-align: justify;
  }
}
.whatsapp-img {
  position: fixed;
  bottom: 20px;
  z-index: 15;
  right: 20px;
  [dir="rtl"] & {
    left: 20px;
    right: auto;
  }

  img {
    @include define-responsive-property(width, 65px, 60px, 55px, 50px);
  }
}
}
