
.home-sec{
    &.home-sec--portfolio{
        .home-sec__container{
            row-gap: 2rem;
        }
        .home-sec--portfolio__title-wrapper{
            .text-highlighter-wrapper .text-highlighter__highlighted{
                animation-delay: 0;
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-fill-mode: both;
            }
            .translate-container{
                --y:35%;
            }
            .zoom-title{
                --scale:100;
                --origin:30px 100px;

            }
            &.entry{
                // zoom out , then move up , then highlight 
                .zoom-title{
                    @keyframes entry-zoom-out-in {
                        0%{
                            transform:scale(100);
                        }
                        25%{
                            transform:scale(1);
                        }
                        50%{
                            transform:scale(1);
                        }
                        100%{
                            --origin:3.2rem;
                            transform:scale(200);
                        }
                    }
                    animation-name: entry-zoom-out-in;
                    animation-timing-function: ease;
                    animation-duration: 3.5s;
                }
                .translate-container{
                    transition-delay: 1.8s;
                    --y:-12em;
                }
                .text-highlighter-wrapper .text-highlighter__highlighted{
                    @keyframes portfolioTranslateText {
                        0% {
                            width : 100%;
                        }
                        50% {
                            width : 0;
                        }
                        100% {
                            width : 36.5%;
                        }
                    }
                    animation-name: portfolioTranslateText;
                    animation-delay: 2.5s;
                }
            }
            &.entry-reverse{
                // zoom out , then move up , then highlight 
                .zoom-title{
                    @keyframes entry-reverse-zoom-in {
                        from{
                            transform :  scale(0);
                            animation-delay: 0s;
                         }
                        to{
                            transform :  scale(100);
                            --origin:30px 100px;
                        }
                     
                    }
                    animation-name: entry-reverse-zoom-in;
                    // animation-delay: 0s;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: ease;
                }
                .translate-container{
                    transition-delay: 0s;
                }
                .text-highlighter-wrapper .text-highlighter__highlighted{
                    // @keyframes translateTextReverse {
                    //     100% {
                    //         width : 100%;
                    //     }
                    //     50% {
                    //         width : 0%;
                    //     }
                    //     0% {
                    //         width : 26%;
                    //     }

                    // }
                    // animation-name: translateTextReverse;
                    width: 26%;
                }
            }
            &.first{
                &.reverse{
                    @keyframes portfoliofirstHighlightReverse {
                        from{
                            width: 58%;
                        }
                        to{
                            width:36.5%;
                        }
                    }
                    .text-highlighter-wrapper .text-highlighter__highlighted{
                        animation-name: portfoliofirstHighlightReverse;
                    }
                }
                .text-highlighter-wrapper .text-highlighter__highlighted{
                animation-delay: 0s;
                }
            }
            &.second{
                @keyframes portfolioSecondHighlight {
                    from{
                        width: 36.5%;
                    }
                    to{
                        width:58%;
                    }
                }
                &.reverse{
                    @keyframes portfolioSecHighlightReverse {
                        from{
                            width: 100%;
                        }
                        to{
                            width:58%;
                        }
                    }
                    .text-highlighter-wrapper .text-highlighter__highlighted{
                        animation-name: portfolioSecHighlightReverse;
                    }
                }
                .text-highlighter-wrapper .text-highlighter__highlighted{
                animation-delay: 0s;
                animation-name: portfolioSecondHighlight;
                }
            }
            &.third{

                @keyframes portfolioFourthHighlight {
                    from{
                        width: 58%;
                    }
                    to{
                        width:100%;
                    }
                }
                .text-highlighter-wrapper .text-highlighter__highlighted{
                    animation-delay: 0s;
                    animation-name: portfolioFourthHighlight;
                }
            }


        }
        .home-sec--portfolio__title-wrapper{
            width: fit-content;
            margin: auto;
        }
        @media screen and (max-width: 767px) {
        height: auto;
    }
}}