@keyframes sc-first{
  0%{
    transform:translateY(calc(500% + 5 * var(--animate-translation-y)));
  }
  20%{
    transform:translateY(calc(400% + 4 * var(--animate-translation-y)));
  }
  40%{
    transform:translateY(calc(300% + 3 * var(--animate-translation-y)));
  }
  60%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
  80%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  100%{
    transform:translateY(calc(0%));
  }
  
}
@keyframes sc-first-rev{
  0%{
    transform:translateY(0%);
  }
  20%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  40%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
  60%{
    transform:translateY(calc(300% + 3 * var(--animate-translation-y)));
  }
  80%{
    transform:translateY(calc(400% + 4 * var(--animate-translation-y)));
  }
  100%{
    transform:translateY(calc(500% + 5 * var(--animate-translation-y)));
  }
  
}
@keyframes sc-sec{
  0%{
    transform:translateY(calc(400% + 4 * var(--animate-translation-y)));
  }
  20%{
    transform:translateY(calc(300% + 3 * var(--animate-translation-y)));
  }
  40%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
  60%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  80%{
    transform:translateY(0%);
  }
}
@keyframes sc-sec-rev{
  20%{
    transform:translateY(0%);
  }
  40%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  60%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
  80%{
    transform:translateY(calc(300% + 3 * var(--animate-translation-y)));
  }
  100%{
    transform:translateY(calc(400% + 4 * var(--animate-translation-y)));
  }


}
@keyframes sc-third{
  0%{
    transform:translateY(calc(300% + 3 * var(--animate-translation-y)));
  }
  20%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
  40%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  60%{
    transform:translateY(0%);
  }
}
@keyframes sc-third-rev{
  40%{
    transform:translateY(0%);
  }
  60%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  80%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
  100%{
    transform:translateY(calc(300% + 3 * var(--animate-translation-y)));
  }
}
@keyframes sc-fourth{
  0%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
  20%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  40%{
    transform:translateY(0%);
  }
}
@keyframes sc-fourth-rev{
  60%{
    transform:translateY(0%);
  }
  80%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  100%{
    transform:translateY(calc(200% + 2 * var(--animate-translation-y)));
  }
}
@keyframes sc-fifth{
  0%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
  20%{
    transform:translateY(0%);
  }
}
@keyframes sc-fifth-rev{
  80%{
    transform:translateY(0%);
  }
  100%{
    transform:translateY(calc(100% + 1 * var(--animate-translation-y)));
  }
}
.social-links{
  @include define-responsive-property(--animate-translation-y , 12px , 12px , 7px , 7px);
  &.social-links--open{
    .dropdown{
      .btn-dropdown{
        //margin-bottom: 0;
      }
    }
  }
  &.social-links--dropup{
    .dropdown{
      .btn-dropdown{
        margin-bottom: 0;
      }
      .list{
        transform-origin: bottom;
        transform : translate(-50% , calc(-100% - 4.5rem));

        // &.slide-enter-from{      
        //   .drop-item{
        //     transform : translateY(500%);
        
        //   }
        // }
        // &.slide-enter-to{
        //   .drop-item{
        //    transform: translateY( 0% );
        //   }
        // }
        // &.slide-enter-active {
        //   transition-duration:1.45s ;
        //   .drop-item{
        //     transition: transform 0.75s ease;
        //     &:first-child{
        //       transition-delay: 0.75s;
        //     }
        //     &:nth-child(2){
        //       transition-delay: 0.5s;
        //     }
        //     &:nth-child(3){
        //       transition-delay: 0.25s;
        //     }
        //     &:nth-child(4){
        //     }
        //   }

        // }
        // &.slide-leave-active{
        //   transition-duration:1s ;
        //   .drop-item{
        //     transform: translateY( 500% );
        //     transition: transform 1s ease;
        //     &:first-child{
        //     }
        //     &:nth-child(2){
        //       transition-delay: 0.25s;
        //     }
        //     &:nth-child(3){
        //       transition-delay: 0.5s;
        //     }
        //     &:nth-child(4){
        //       transition-delay: 0.75s;
        //     }
        //   }
        // }
        .drop-item{
         // border: none;
          animation-duration:1s;
          animation-fill-mode:both;
        }
      }

      .arrow{
        transform: rotate(180deg) translate(0.25rem , calc(100% + 1.25rem ) );
        cursor: pointer;
        margin-top: 0;
        top: 0;
        left: -50%;
        width: 100%;
      }

      }
      &.social-links--open{
        .dropdown{
          .list{
          //   .drop-item{
          //     &:nth-child(1){
          //       transform:translateY(400%);
          //   }
          //   &:nth-child(2){
          //       transform:translateY(300%);
          // }
          //   &:nth-child(3){
          //       transform:translateY(200%);
          // }
          //   &:nth-child(4){
          //       transform:translateY(100%);
          // }
          // } 
       
            .drop-item{
                &:nth-child(1){
                  animation-name:sc-first;
            
            }
              &:nth-child(2){
                  animation-name:sc-sec;
            
            }
              &:nth-child(3){
                  animation-name:sc-third;
            
            }
              &:nth-child(4){
                  animation-name:sc-fourth;
            }
            &:nth-child(5){
              animation-name:sc-fifth;
            }
            }  
          }

    
          }
      }
  }
  .dropdown{
      // z-index: 16;
      // position: fixed;
      // @include define-responsive-property(right , 10px , 10px , 5px , 5px);
      // @include define-responsive-property(top , 40% , 40% , 20% , 20%);
      //transform: translateY(-50%);
     // background: $primary;
     // border-radius: 20px;
     // left: 0rem;
   //   box-shadow: 0 0 0.3rem white;
      color: white;
      //@include font-size(2rem , 1.5rem);
      .btn-dropdown{
        border-radius: 50%;
        //@include define-responsive-property(padding , .7rem , .7rem , 0.6rem , 0.6rem);
        margin-bottom: 3rem;
        line-height: 1;
        box-shadow: 0 0 1rem rgba($color: black, $alpha: 0.5) ;
        @include define-responsive-property(width , 3rem , 3rem , 2.5rem , 2.5rem);
        cursor: pointer;
          &:hover{
            ~ .arrow{
              display: none;
            }
          }
      }
      .list{
        position: absolute;
        top: 4.4rem;
        margin: 0;
        padding: 0;
        list-style-type: none;
        transform-origin: top;
        //transition: transform .4s ease-in-out;
        overflow: hidden;
        font-size: 1.8rem;
        width: fit-content;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
       // background-color: white;
        //padding: 5px;
       // border-radius: 5px;
      @include font-size(1.2rem ,1.2rem ,0.9rem , 0.9rem);

        .drop-item{
            @include define-responsive-property(width  , 2.5rem , 2.5rem , 2rem , 2rem);
            aspect-ratio: 1;
            overflow: hidden;
            text-align: center;
            line-height: 1;
            padding: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid white;
            @include define-responsive-property(border-width , 1px , 1px , 1px , 1px);
            background-color: $primary;
            border-radius: 50%;
            margin-bottom: 10px;

            @include define-responsive-property(margin-bottom , 10px , 10px , 5px , 5px);
              &:nth-child(1){
                  animation-name:sc-first-rev;
            }
              &:nth-child(2){
                  animation-name:sc-sec-rev;
            
            }
              &:nth-child(3){
                  animation-name:sc-third-rev;
            
            }
              &:nth-child(4){
                  animation-name:sc-fourth-rev;
            }
            &:nth-child(5){
              animation-name:sc-fifth-rev;
            }
            a {
              text-decoration: none;
              color: inherit;
            }
        }
      }
      .slide-enter-from,
      .slide-leave-to{
        // transform: scaleY(0);
        .drop-item{

        }
        
      }
      .icon-file-text:before {
          content: "\e922";
        }

      }
      .arrow {
        position: absolute;
        cursor: pointer;
        transform: rotate(0deg) translate(0.05rem , 1rem);
        top: 100%;
        width: 100%;
        left: 50%;
        span {
          display: block;
          @include define-responsive-property(width , 0.8rem , 0.8rem , 0.6rem , 0.6rem);
          @include define-responsive-property(height , 0.8rem , 0.8rem , 0.6rem , 0.6rem);
          border-bottom: 2px solid white;
          border-right: 2px solid white;
          transform: rotate(45deg);
          margin: -10px;
          animation: arrow-effect 1.5s infinite;
          margin-bottom: 0.75rem;
      
          &:nth-child(2) {
            border-color: rgba($color: $primary-light, $alpha: 0.5);
            animation-delay: 0.2s;
          }
      
          &:nth-child(3) {
            border-color: $primary-light;
            animation-delay: 0.4s;
          }
        }
      }
  @keyframes arrow-effect {
    0% {
      opacity: 0;
    //  transform: rotate(45deg) translate(-20px, -20px);
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
     // transform: rotate(45deg) translate(20px, 20px);
    }
  }
  
}
