.social-links{
  .dropdown{
      z-index: 16;
      position: fixed;
      @include define-responsive-property(right , 10px , 10px , 5px , 5px);
      @include define-responsive-property(top , 40% , 40% , 20% , 20%);
      //transform: translateY(-50%);
     // background: $primary;
     // border-radius: 20px;
     // left: 0rem;
   //   box-shadow: 0 0 0.3rem white;
      color: $secondary;
      @include font-size(2rem , 1.5rem);
      .btn-dropdown{
        background-color: white;
        border-radius: 50%;
        @include define-responsive-property(padding , .7rem , .7rem , 0.6rem , 0.6rem);
        margin-bottom: 1rem;
        line-height: 1;
        box-shadow: 0 0 1rem rgba($color: black, $alpha: 0.5) ;
        cursor: pointer;
          &:hover{
            ~ .arrow{
              display: none;
            }
          }
      }
      .list{
        margin: 0;
        padding: 0;
        list-style-type: none;
        transform-origin: top;
        transition: transform .4s ease-in-out;
        overflow: hidden;
        font-size: 1.8rem;
        width: fit-content;
        margin: auto;
       // background-color: white;
        //padding: 5px;
       // border-radius: 5px;
      @include font-size(1.5rem , 1rem);

        .drop-item{
            text-align: center;
            line-height: 1;
            padding: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid $secondary;
            @include define-responsive-property(border-width , 1px , 1px , 1px , 1px);
            background-color: white;
            border-radius: 50%;
            margin-bottom: 10px;

            @include define-responsive-property(margin-bottom , 10px , 10px , 5px , 5px);
            a {
              text-decoration: none;
              color: inherit;
            }
        }
      }
      .slide-enter-from,
      .slide-leave-to{
        transform: scaleY(0);
      }
      .icon-file-text:before {
          content: "\e922";
        }

      }
      
      
      .arrow {
        transform: rotate(0deg) translateX(50%);
        cursor: pointer;
        margin-top: 0.25rem;
    
        span {
          display: block;
          @include define-responsive-property(width , 0.8rem , 0.8rem , 0.6rem , 0.6rem);
          @include define-responsive-property(height , 0.8rem , 0.8rem , 0.6rem , 0.6rem);
          border-bottom: 2px solid white;
          border-right: 2px solid white;
          transform: rotate(45deg);
          margin: -10px;
          animation: arrow-effect 2s infinite;
          margin-bottom: 0.75rem;
      
          &:nth-child(2) {
            animation-delay: -0.2s;
          }
      
          &:nth-child(3) {
            animation-delay: -0.4s;
          }
        }
      }
  @keyframes arrow-effect {
    0% {
      opacity: 0;
    //  transform: rotate(45deg) translate(-20px, -20px);
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
     // transform: rotate(45deg) translate(20px, 20px);
    }
  }
  
}
