.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-active {
  transition-delay: 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-delay-1-enter-active,
.fade-delay-1-leave-active {
  transition: opacity 0.3s ease;
}
.fade-delay-1-enter-active {
  transition-delay: 1s;
}
.fade-delay-1-enter-from,
.fade-delay-1-leave-to {
  opacity: 0;
}

.fade-delay-2-enter-active,
.fade-delay-2-leave-active {
  transition: opacity 0.3s ease;
}
.fade-delay-2-enter-active {
  transition-delay: 2s;
}
.fade-delay-2-enter-from,
.fade-delay-2-leave-to {
  opacity: 0;
}
// fadeInUpOutLeft-leave-active fadeInUpOutLeft-leave-to

.fadeInUpOutLeft-enter-active {
  animation-name: fadeInUpBig;
}
.fadeInUpOutLeft-leave-active {
  animation-name: fadeOutLeft;
}

.fadeInLeftOutTop-enter-active {
  animation-name: fadeInLeft;
}
.fadeInRightOutTop-leave-active {
  animation-name: fadeOutUp;
}


.delay-1-leave-active{
  transition-delay: 0.3s;
}

// home-sec--banner__slogan fade-long-enter-active fade-long-enter-to
.fade-long-enter-active,
.fade-long-leave-active {
  transition: opacity 2s ease;
}
.fade-long-enter-from,
.fade-long-leave-to {
  opacity: 0;
}

.fadeInDownOutUp-enter-active {
  animation-name: fadeInDown;
  }
  .fadeInDownOutUp-leave-active {
  animation-name: fadeOutUp;
  }

  .fadeInOutUp-enter-active {
  animation-name: fadeIn;
  }
  .fadeInOutUp-leave-active {
  animation-name: fadeOutUp;
  }

.fadeInDelayOutUp-enter-active {
  animation-name: fadeIn;
  animation-delay: 1s;
}
.fadeInDelayOutUp-leave-active {
  animation-name: fadeOutUp;
}


.fadeInOutLeft-enter-active {
  animation-name: fadeIn;
}
.fadeInOutLeft-leave-active {
  animation-name: fadeOutLeft;
}
.fadeInDelayOutLeft-enter-active {
  animation-name: fadeIn;
  animation-delay: 1s;
}
.fadeInDelayOutLeft-leave-active {
  animation-name: fadeOutLeft;
}

.fadeInDelay3sOutLeft-enter-active {
  animation-name: fadeIn;
  animation-delay: 3s;
}
.fadeInDelay3sOutLeft-leave-active {
  animation-name: fadeOutLeft;
}


.fadeInRightBigOutLeftBig-enter-active {
  animation-name: fadeInLeftBig;
}
.fadeInRightBigOutLeftBig-leave-active {
  animation-name: fadeOutLeftBig;
}
